@media (min-width: 700px) {
  .inputfield {
    transform: translate(0, -10%);
  }
}

.mainbody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputfield{
  height: fit-content;
  background-color: #e6e6e633;
}

.svgbackground {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}


.background{
  z-index: -1;
  position: absolute;
  /* Set parent to take up full width and height */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
